<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<app-humberger></app-humberger>
<app-header [timeoutSeconds]="countdown??-1"></app-header>
<!-- top section and bottom footer is common -->

<!-- contents will be dynamically replaced in router-outlet-->
<section class="hero">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<!-- <app-banner></app-banner>
<app-latest-products></app-latest-products>
<app-blog-section></app-blog-section> -->

<app-footer></app-footer>
<div>IDLE_STATE: {{idleState}}, COUNTDOWN: {{countdown}}, LAST_PING: {{lastPing | date}}</div>